In [1]:
import pandas as pd

In [ ]:
stats = pd.read_csv('P4-Demographic-Data.csv')

In [ ]:
# stats.columns # Simpler look at columns
stats.info()

In [ ]:
stats.head(3)

In [ ]:
stats.tail(3)

In [ ]:
stats.describe().transpose() # see summary of items, transpose it to make it easier to see

In [ ]:
stats = stats.rename(columns={'BirthRate': 'Birth_Rate'}) # Rename 1 column
stats.columns = ['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers', 'IncomeGroup']

In [ ]:
stats[::-1] # reverse dataset (non modifying)
stats[3:4] # get 3:4 rows
stats[::20] # get every 20th row

In [ ]:
stats[4:8][['BirthRate', 'CountryName']]

In [ ]:
stats['BirthRateRounded'] = stats.BirthRate.round(0) # Adding new column

In [ ]:
stats = stats.drop('BirthRateRounded', axis=1)

In [ ]:
stats.head()

In [ ]:
# Filter (What's inside is a list of true/false for each row)
# use & instead of and, and attempts to compare singular value not list of value
# needs brackets for each filter if not order of operations will be wrong
stats[(stats.InternetUsers < 3) & (stats.IncomeGroup.str.lower() == 'lower middle income')]

In [ ]:
stats['IncomeGroup'].unique()

In [ ]:
stats.at[117, "CountryCode"] # at and iat, access specific cell. at is looking at label, iat is count.

In [46]:
kna1 = pd.read_excel('test_data/unmerged/Post KNA1.XLSX', dtype=str)
adrc = pd.read_excel('test_data/unmerged/Post ADRC.XLSX', dtype=str)
knb1 = pd.read_excel('test_data/unmerged/Post KNB1.XLSX', dtype=str)

In [27]:
kna1[kna1['Country'].isnull()]

,Customer,Country,Region,Address,Tax Number 1,Tax Number 2,Tax Number 3,Tax Number 4,Tax Number 5
217,200048,NaN,NaN,23823,NaN,NaN,NaN,NaN,NaN
421,200663,NaN,NaN,27164,NaN,01.04.2015,NaN,NaN,BRN:NA

In [39]:
adrc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684 entries, 0 to 683
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address number  684 non-null    object
 1   Name            684 non-null    object
 2   Name 2          294 non-null    object
 3   Name 3          9 non-null      object
 4   Name 4          3 non-null      object
 5   City            681 non-null    object
 6   Postal Code     674 non-null    object
 7   Street          629 non-null    object
 8   Street 2        0 non-null      object
 9   Street 3        0 non-null      object
 10  Street 4        386 non-null    object
 11  Street 5        296 non-null    object
 12  Country Key     682 non-null    object
 13  Region          283 non-null    object
 14  Search Term 2   0 non-null      object
dtypes: object(15)
memory usage: 80.3+ KB

In [40]:
kna1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer      671 non-null    object
 1   Country       669 non-null    object
 2   Region        282 non-null    object
 3   Address       671 non-null    object
 4   Tax Number 1  90 non-null     object
 5   Tax Number 2  372 non-null    object
 6   Tax Number 3  0 non-null      object
 7   Tax Number 4  36 non-null     object
 8   Tax Number 5  669 non-null    object
dtypes: object(9)
memory usage: 47.3+ KB

In [94]:
test = pd.merge(kna1, adrc, how='left', left_on='Address', right_on='Address number', suffixes=('', '_removeMe'))

In [103]:
kna1[kna1['Address'] == '28184']

,Customer,Country,Region,Address,Tax Number 1,Tax Number 2,Tax Number 3,Tax Number 4,Tax Number 5
144,100573,SG,SG,28184,NaN,01.04.2015,NaN,NaN,BRN:NA

In [104]:
adrc[adrc['Address number'] == '28184']

,Address number,Name,Name 2,Name 3,Name 4,City,Postal Code,Street,Street 2,Street 3,Street 4,Street 5,Country Key,Region,Search Term 2
471,28184,HYPAC PACKAGING PTE LTD,NaN,NaN,NaN,SINGAPORE,118518,100 PASIR PANJANG ROAD,NaN,NaN,#08 - 07 100 PASIR PANJANG,NaN,SG,SG,NaN

In [122]:
def merge_dfs(df1, df2, df1_identifier_column, df2_identifier_column):
    '''
    Merge two Pandas Dataframes
    Keep all rows from the first dataframe, only keep the first dataframe's copy of a column which appears in both dataframes.
    If the identifier column of both dataframes are different, only the first dataframe's copy is kept.
    '''
    # Rename the identifier column of the second dataframe to be the same of the first. Avoids having both columns kept in the merged dataframe.
    df2 = df2.rename(columns={df2_identifier_column: df1_identifier_column}) 
    # Left merge the two dataframes. Suffix the second dataframe's identifier column in case.
    resulting_df = pd.merge(df1, df2, how='left', left_on=df1_identifier_column, right_on=df1_identifier_column, suffixes=('', '_removeMe')) 
    return resulting_df

In [123]:
test = merge_dfs(kna1, adrc, 'Address', 'Address number')
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Customer         671 non-null    object
 1   Country          669 non-null    object
 2   Region           282 non-null    object
 3   Address          671 non-null    object
 4   Tax Number 1     90 non-null     object
 5   Tax Number 2     372 non-null    object
 6   Tax Number 3     0 non-null      object
 7   Tax Number 4     36 non-null     object
 8   Tax Number 5     669 non-null    object
 9   Name             671 non-null    object
 10  Name 2           294 non-null    object
 11  Name 3           9 non-null      object
 12  Name 4           3 non-null      object
 13  City             668 non-null    object
 14  Postal Code      668 non-null    object
 15  Street           623 non-null    object
 16  Street 2         0 non-null      object
 17  Street 3         0 non-null      object
 18  Street 4         381 non-null    object
 19  Street 5         291 non-null    object
 20  Country Key      669 non-null    object
 21  Region_removeMe  282 non-null    object
 22  Search Term 2    0 non-null      object
dtypes: object(23)
memory usage: 120.7+ KB